/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require inputosaurus
 *= require_tree .
 */
 @import 'bootstrap';

 .col-md-1 {
 	background-color: red;
 }

header {
	background-color: #3E6E96;

	img {
		width: 200px;
	}
}

.heading {

}

#slides {
	width: 20%;
	display: inline;
	float: left;
}

.slides_container {
	width: 300px;
	font-size: 22px;
	color: white;
	font-family: 'Trebuchet MS';
}

.col-md-4 {
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
	float: left;
	background-color: white;
	border: 5px solid #1c5380;
	border-radius: 10px;
}

.col-md-4 img {
	margin-top: 10px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}